<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileManager Template</title>
    <link rel="stylesheet" href="~/dist/filemanager-template.css">
    <!--<link rel="stylesheet" href="./dist/custom-theme.css">-->
</head>
<body>
    <!-- fm-wrapper Start -->
    <div class="fm-wrapper">
        @RenderBody();

    </div>
    <!-- fm-wrapper End -->
    <script src="~/dist/filemanager-template.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
